.LandingPage {
  display: flex;
  align-items: left;
  flex-direction: column;
  text-align: left;
  width: 100%;
  min-width: 100px;
  box-sizing: border-box;
  padding-right: 10%;
  padding-top: 0;
  overflow: hidden;
  padding-bottom: 0;
}

.Intro {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100dvh;

  > :last-child {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.MovingGradientBackground {
  background: linear-gradient(
    50deg,
    var(--orange),
    var(--yellow),
    var(--pink),
    var(--purple),
    var(--blue),
    var(--green)
  );
  width: 100%;
  background-size: 400% 400%;
  animation: MovingGradient 18s ease infinite; /* Animate gradient */
}

.GradientText {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.Title {
  font-weight: bold;
  text-align: left;
  letter-spacing: 1rem;
  font-size: 20rem;
  font-family: "Galgo", normal;
  margin-top: 4rem;
  line-height: 0.7;
  white-space: nowrap;
  max-width: 100%;
}

@media (max-width: 900px) {
  .Title {
    font-size: 14rem;
  }
}

@media (max-width: 600px) {
  .Title {
    font-size: 10rem;
  }
}

.Subtitle {
  font-weight: normal;
  opacity: 0.8;
  font-size: 4rem;
}

@keyframes MovingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
