@import url("https://fonts.googleapis.com/css?family=JetBrains+Mono");

@font-face {
  font-family: "GalgoCondensed";
  src: url("./fonts/Galgo.ttf") format("truetype"); /* Adjust path as needed */
  font-weight: normal;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  --background: light-dark(white, black);

  /* generated dark with https://maketintsandshades.com/#44475a */
  /* generated light with https://maketintsandshades.com/#d7d4c8 */
  --background-dimmed-0: light-dark(#d7d4c8, #44475a);
  --background-dimmed-80: light-dark(#f7f6f4, #0e0e12);
  --card-background: var(--background-dimmed-80);

  --text-color: light-dark(black, white);

  --sun-moon-fill-color: var(--background-dimmed-0);
  --margin: 10px;

  /* light shade are 40% of dark shade: https://maketintsandshades.com/#dark-color */
  --purple: light-dark(#5e437c, #9c6fcf);
  --blue: light-dark(#40767f, #6ac5d3);
  --pink: light-dark(#85335e, #de559c);
  --orange: light-dark(#855928, #de9442);
  --green: light-dark(#1c8031, #2fd651);
  --yellow: light-dark(#7d803b, #d0d662);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text-color);
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
